.authLoginContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  app-region: drag;
}

.authLoginHeader {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  app-region: no-drag;
}

.authLoginOptions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.authLoginOption {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.authLoginButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  gap: 16px;
  padding: 16px;
  border-radius: 4px;
  background-color: #153715;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  app-region: no-drag;
  transition:
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.authLoginButton:hover {
  background-color: #446944;
  color: #fff;
  border-color: rgba(255, 255, 255, 0.4);
}

.authLoginButton:hover img,
.authLoginButton:hover svg {
  opacity: 1;
}

.authLoginButton img,
.authLoginButton svg {
  width: 24px;
  height: 24px;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}

.authLoginButton img {
  filter: invert(1);
}

.authAnonymousButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  border: none;
  justify-content: center;
  padding: 4px 0;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  opacity: 0.6;
  app-region: no-drag;
}
