/** [Chat Input] **/

.chatInputContainer {
  width: calc(100vw - 32px);
  margin: 0 auto;
  display: flex;
  position: relative;
  min-height: 64px;
  padding-left: 16px;
  align-items: center;
  background: #182f21;
  border: 1px solid rgba(80, 123, 97, 0.5);
  border-bottom: none;
  border-radius: 6px 6px 0 0;
  box-shadow: 0px 2px 2px #07150a;
}

.chatBoxContainer {
  position: relative;
}

.chatInputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatInfoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 8px;
  width: calc(100% - 40px);
  border: 1px solid rgba(80, 123, 97, 0.5);
  border-bottom: none;
  background: #213c2c;
  margin: 0 8px;
  height: 32px;
  border-radius: 6px 6px 0 0;
  font-size: 14px;
  color: #668d75;
}

.chatInputBox {
  flex: 1 1 auto;
  min-width: 0;
}

.chatInputActions {
  display: flex;
  align-items: center;
  padding: 0 12px;
  min-width: 112px;
  justify-content: center;
  border-left: 1px solid rgba(80, 123, 97, 0.3);
}

.chatInput {
  border-bottom: 0;
  border-radius: 6px 0 0 0;
  border-right: none;
  display: inline-flex;
  max-height: 148px;
  overflow-y: auto;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
  color: #fff;
  caret-color: rgba(80, 123, 97, 0.8);
  outline: 0px solid transparent;
  outline-offset: 0px;
}

.editor-paragraph {
  padding: 18px 0;
  padding-right: 16px;
  width: 100%;
}

.editor-paragraph > * {
  display: inline;
  max-width: 100%;
}

.editor-paragraph *::selection {
  background-color: rgba(80, 123, 97, 0.5);
}

.emoteContainer > img {
  vertical-align: middle;
  height: 24px;
  margin: 0 1px;
}

.chatEmoteBtns {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
}

.emoteBtn {
  background: none;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 32px;
  width: 32px;
  padding: 4px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.chatEmoteBtns button:hover {
  background-color: rgba(80, 123, 97, 0.2);
}

.chatEmoteBtns button img {
  vertical-align: middle;
}

.kickEmoteButton {
  height: 32px;
  width: 32px;
  background-color: #2c4b38;
  border-radius: 4px;
  overflow: hidden;
}

.kickEmoteButton img {
  width: inherit;
  height: auto;
  padding: 4px;
  margin: 0;
}

.chatInput::-webkit-scrollbar {
  width: 8px;
}

.chatInput::-webkit-scrollbar-corner {
  background: rgba(255, 255, 255, 0.429);
}

.chatInput::-webkit-scrollbar-thumb {
  background-color: #b6d2c277;
  border-radius: 2px;
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}
.chatInput::-webkit-scrollbar-track {
  background-color: #ffffff26;
}

.chatInputPlaceholder {
  color: #daffe88a;
  left: 16px;
  z-index: 99;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  pointer-events: none;
  user-select: none;
  padding: 0;
  margin: 0;
}

.chatInputContainer input:focus-visible {
  outline: none;
}

/** [End of Chat Input] **/

/** [Emote Dialogs] **/
.emoteDialog {
  flex-direction: column;
  position: absolute;
  bottom: 80px;
  right: 16px;
  border-radius: 8px;
  padding: 4px;
  width: 80%;
  max-width: 550px;
  height: 280px;
  background-color: rgba(22, 34, 25, 0.95);
  border: 1px solid #314d3c;
  box-shadow: 0 4px 5px #020a0580;
  z-index: 99;
  display: none;
  overflow: hidden;
}

.emoteDialog.show {
  display: flex;
  animation: slideAndFadeIn 0.3s ease-in-out forwards;
}

.dialogBody {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: scroll;
  border-radius: 6px;
  flex: 1;
  padding-right: 4px;
}

.dialogBodyEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 24px);
  opacity: 0.5;
}

.dialogHeadEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  opacity: 0.5;
}

.dialogBodyEmpty > p {
  font-size: 18px;
  color: #fff;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #405a45;
  border-radius: 2px;
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}

.dialogHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 8px;
  opacity: 0.3;
}

.dialogBodySection {
  background-color: #1e2d21;
  border-radius: 8px;
  padding: 12px;
  min-height: 50%;
  overflow: hidden;
  transition: height 0.2s ease-in-out;
}

.dialogBodySection.opened {
  background-color: #1e2d21;
  min-height: max-content;
}

.dialogBodySection.opened .dialogRowHeadBtn > img {
  transform: rotate(180deg);
}

.dialogRowHeadBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.dialogRowHeadBtn > img {
  opacity: 0.5;
  transition:
    transform 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

.dialogRowHeadBtn:hover > img {
  opacity: 1;
}

.dialogRowHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
}

.dialogRowHead > span {
  font-size: 14px;
  font-weight: 400;
  color: #779c85;
}

@keyframes slideAndFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/** [End of Emote Dialogs] **/
