.loaderContainer {
  position: fixed;
  top: 0;
  pointer-events: none;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0f0b;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: transform 1s ease-in-out, opacity 2s ease-in-out;
}

.logoImage {
  width: 110px;
  animation: fadeIn 1s ease-in-out forwards;
  opacity: 0;
}

.logoWrapper {
  position: absolute;
  animation: fadeIn 1s ease-in-out forwards;
  transform: translateX(-150%) scale(5);
  font-size: 100px;
  opacity: 1;
}

.logoWrapperFadeOut {
  animation: fadeOut 2s ease-in forwards;
  position: absolute;
  opacity: 1;
  transform: scale(2);
  transform: translateX(-150%) scale(5);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.creatorText {
  top: 40%;
  position: relative;
  color: white;
  margin-top: 20px;
  font-size: 14px;
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.slideUp {
  opacity: 0;
}